body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.header {
  padding-top: 92px;
}

.layout--main {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 80px;
  align-items: center;
}

.navigation__link {
  cursor: pointer;
  font-size: 18px;
  color: #6b7280;
  text-decoration: none;
}

.navigation__link:hover {
  color: blue;
}

.button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding: 12px 32px;
  border: 1px solid #3730a3;
  border-radius: 6px;
  background-color: #3730a3;
  color: #FFFFFF;
}

.button:hover {
  background-color: #4338CA;
  color: #FFFFFF;
}

.button--outline {
  background-color: #FFFFFF;
  color: #3730a3;
}

.button--outline:hover {
  background-color: #EEF2FF;
  color: #3730a3;
}

.introduction {
  padding: 186px 0 198px 0;
  display: flex;
  gap: 106px;
}

.introduction__photo {
  width: 478px;
  height: 533px;
}

.presentation__name {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #4338CA;
  font-size: 20px;
  padding: 40px 0;
}

.presentation__name-prefix {
  display: inline-block;
  background-color: #3730A3;
  height: 1px;
  border: 0;
  width: 102px;
}

.presentation__abilities {
  display: flex;
  flex-direction: column;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
}

.presentation__details {
  font-size: 18px;
  line-height: 28px;
  color: #6B7280;
  padding: 40px 0;
}

.presentation__divider {
  background-color: #E5E7EB;
  height: 1px;
  border: 0;
  margin: 20px 0;
}

.presentation__availability-info {
  font-size: 12px;
  line-height: 16px;
  color: #6B7280;
}

.motto {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  padding: 0 70px;
  text-align: center;
}

.motto__punch-line {
  color: #4338CA;
}

.skills {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 150px 0;
}

.skills__image {
  width: 440px;
  height: 622px;
}

.skills__list {
  display: grid;
  grid-template-columns: 311px 311px;
  grid-template-rows: 132px 132px 132px;
  column-gap: 68px;
  row-gap: 68px;
}

.skills__details-link {
  display: flex;
  gap: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #3730A3;
}

.skills__details-link:hover {
  color: #4338CA;
}

.skills__description {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6B7280;
  padding: 20px 0;
}

.skills__name {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1F2937;
}

.layout--bottom {
  width: 1249px;
  margin-left: auto;
  margin-right: auto;
}

.services {
  display: flex;
  gap: 83px;
  padding-bottom: 128px;
}

.services__item {
  width: 361px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  border-radius: 6px;
  background-color: #EEF2FF;
}

.services__name {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #374151;
  margin: 40px 0 20px 0;
}

.services__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #9CA3AF;
}

.careers {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #1F2937;
  padding-bottom: 150px;
}

.careers__records {
  width: 100%;
  margin-top: 150px;
}

.careers__records-header {
  padding-bottom: 40px;
  text-transform: uppercase;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6B7280;
  border-bottom: 1px solid #D1D5DB;
}

.careers__records-row-item {
  padding: 40px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6B7280;
  border-bottom: 1px solid #D1D5DB;
}

.careers__records-row-item span {
  font-weight: 600;
  color: #1F2937;
}

.footer {
  background-color: #FEF2F2;
  padding: 111px 18px 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #374151;
}

.footer__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #9CA3AF;
  padding-top: 20px;
  padding-bottom: 100px;
  width: 664px;
}

.footer__social-icons {
  display: flex;
  gap: 50px;
}