body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.header {
  padding-top: 92px;
}

.layout--main {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 80px;
  align-items: center;
}

.navigation__link {
  cursor: pointer;
  font-size: 18px;
  color: #6b7280;
  text-decoration: none;
}

.navigation__link:hover {
  color: blue;
}

.button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding: 12px 32px;
  border: 1px solid #3730a3;
  border-radius: 6px;
  background-color: #3730a3;
  color: #FFFFFF;
}

.button:hover {
  background-color: #4338CA;
  color: #FFFFFF;
}

.button--outline {
  background-color: #FFFFFF;
  color: #3730a3;
}

.button--outline:hover {
  background-color: #EEF2FF;
  color: #3730a3;
}

.introduction {
  padding: 186px 0 198px 0;
  display: flex;
  gap: 106px;
}

.introduction__photo {
  width: 478px;
  height: 533px;
}

.presentation__name {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #4338CA;
  font-size: 20px;
  padding: 40px 0;
}

.presentation__name-prefix {
  display: inline-block;
  background-color: #3730A3;
  height: 1px;
  border: 0;
  width: 102px;
}

.presentation__abilities {
  display: flex;
  flex-direction: column;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
}

.presentation__details {
  font-size: 18px;
  line-height: 28px;
  color: #6B7280;
  padding: 40px 0;
}

.presentation__divider {
  background-color: #E5E7EB;
  height: 1px;
  border: 0;
  margin: 20px 0;
}

.presentation__availability-info {
  font-size: 12px;
  line-height: 16px;
  color: #6B7280;
}